.begin-quiz{
    display: flex;
    justify-content: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.flex{
    display:flex;
}
button{
    margin:16px
}
.timeout{
    margin:16px
}
/* input[type=radio][class="car"]{

} */