html, body, button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    color: #25282a
}
body{
    margin:0 auto;
    background-color: #e0e0ed;
}
.quiz{
    border: 1px solid #25282a;
    border-radius: 4px;
    width: 60%;
    margin: 16px;
    background-color: white;
    display: flex;
}
.begin-quiz{
    display: flex;
    justify-content: center;
}
.begin-quiz > button{
    cursor: pointer;
    padding: 12px;
    margin: 16px;
    width: 20%;
    background-color: #4775d9;
    border: 1px solid #afafaf;
    color: white;
    border-radius: 2px;
    font-size: 16px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.flex{
    display:flex;
}
button{
    margin:16px
}
.timeout{
    margin:16px
}
.heading{
    width: 100%;
}
.checkBtn{
    padding: 10px;
    width: 200px;
    color: white;
    font-size: 16px;
    background-color: #ff6500;
    border: 1px solid #7e7c7c;
    border-radius: 20px;
}
.nextBtn{
    padding: 10px;
    width: 100px;
    color: white;
    font-size: 16px;
    background-color: #5d00ff;
    border: 1px solid #7e7c7c;
    border-radius: 20px;
}
/* input[type=radio][class="car"]{

} */
:root {
    --form-control-color: rebeccapurple;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  
  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 10px;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    color: var(--form-control-color);
  }
  input[type="radio"]:focus-within ::after {
  color: var(--form-control-color);
}